* {
  margin:  0;
  padding: 0;
}

.contenedor-nav{
  /*background: rgb(61, 10, 73);*/
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  margin: auto;
  width: 80%;
  height: 80px;
}

.cont-nombre-boutique{
  /*background: rgb(152, 136, 181);*/
  width: 21%;
  /*padding-top: -20px;*/
}

.logo{
  height: 80px;
  width: 120px;
  /*background-image: url("../imagenes/carlitos-mano.jpg");*/
  /*background-color: #cccccc;*/
}
/*hover menu #c8c8c8*/
.cont-menu{
  /*background: #ff8008;*/
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  width: 80%;
  height: 30px;
  margin-left: 16px;
  padding-top: 16px;
  margin-top: 15px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;

}
.item{
  text-align: center;
  width: 16%;
  color: #545252;
  text-decoration: none;

  /*background: rgb(35, 172, 165);*/
}
.item:hover{
  /*color: red;*/
  border-bottom: 1px solid red;
}
.contenedor-section{
  /*background-color: rgb(48, 176, 61);*/
  margin: auto;
  padding-top: 8px;
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 450px;
}
  .item-section{
    width: 23%;
}
.contenedor-select{
  /*background-color: rgb(8, 122, 215);*/
  margin: auto;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 80px;
  padding-bottom: 80px;
}
.item-select{
  background: #24292e;
  /*background: #ff8008;*/
  width: 23%;
}

.text-click{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-top: 24px;
  font-size: 23px;
  color: white;
}


.contenedor-proveedores{
  /*background-color: rgb(8, 122, 215);*/
  margin: auto;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 80px;
}

.item-proveedores{
  background: #24292e;
  /*background: #ff8008;*/
  width: 11%;
  height: 100px;
}


.contenedor-nombre-proveedor{
  /*background-color: rgb(8, 122, 215);*/
  padding-top: 16px;
  margin: auto;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 80px;
  padding-bottom: 80px;
}

.proveedor-click{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-top: 8px;
  font-size: 18px;
}

/*----footer------*/
.info-constructora{
  background: #f2f4f3;
  margin-top: 88px;
  width: 100%;
  height: 228px;
}

.colonia{
  /*background: rgb(209, 154, 185);*/
  margin-top: 35px;
  color: #444444;
  text-align: center;
  font-size: 15px;
  line-height: 29px;
  font-family: 'Raleway', sans-serif;
}
.telefono{
  /*background: rgb(209, 154, 185);*/
  margin-top: 60px;
  color: #444444;
  text-align: center;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}
.correo{
  /*background: rgb(209, 154, 185);*/
  margin-top: 24px;
  color: #444444;
  text-align: center;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}
.pie{
  padding-top: 24px;
  padding-bottom: 24px;
  color: #444444;
  text-align: center;
  font-size: 16px;
  weight: 300;
  font-family: 'Raleway', sans-serif;
}
.freelance{
  color: #405b6f;
  text-decoration: none;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.1s;
  text-decoration: none;
   border-bottom:1px dotted #405b6f;
}
.freelance:hover{
  color: #000000;
  background: #f5f5f5;
}
